body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    background: #f9f9f9;
    color: #333;
}

header, footer {
    text-align: center;
    padding: 20px 0;
    background-color: #282c34;
    color: white;
}

h1, h2 {
    color: #005f73;
}
.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #002244;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.download-btn:hover {
    background-color: #004488;
}


a {
    color: #0077cc;
    text-decoration: none;
}

section {
    margin-bottom: 30px;
}

ul {
    padding-left: 20px;
}
